/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/* ---------------------------------------------------
    BASIC LAYOUT
----------------------------------------------------- */

body {
  margin: 0;
}

canvas {
  height: 150px;
  width: 100%;
}

footer > p {
  font-size: 1em !important;
  margin-bottom: 0.25em;
}

.plot {
  height: 50%;
  margin: 5px;
  color: #1C2541;
}

#dom {
  color: #1C2541
}

.slidercontainer {
  margin: 5px;
}

.button {
  height: 40px;
  margin: 5px;
  display: block;
  float: left;
}

.logo {
  height: 40px;
  margin: 5px;
  display: block;
  float: right;
}

/* ---------------------------------------------------
    COLORS & BORDERS
----------------------------------------------------- */

#container {
  border-style: solid;
  border-color: #1C2541;
  border-width: 1px;
  margin-bottom: 1em;
}

#menu {
  background-color: #fff5d2;
  border-bottom: 1px solid #1C2541;
}

#errors {
  border-top: 1px solid #1C2541;
}

#log {
  color: #fe5f55;
}

#display {
  background-color: #eef5db;
}

/* ---------------------------------------------------
    SLIDERS
----------------------------------------------------- */

.sliders {
  margin: 5px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    border-radius: 25px;
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    border-radius: 50%;
    background: #748e28; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #748e28;
    cursor: pointer;
}

/* ---------------------------------------------------
    EDITOR LAYOUT
----------------------------------------------------- */

#container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 50px 1fr 1.3em;
  grid-template-columns: 3fr 2fr;
  resize: vertical;
  overflow: auto;
}

#menu {
  grid-area: 1 / 1 / 2 / 3;
}

#errors {
  grid-column: 1 / 3;
  overflow: hidden;
}

@media (max-width: 768px) {
  #container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 50px 1fr 1fr 1.3em;
    grid-template-columns: 1fr;
  }

  #menu {
    grid-row: 1 / 2;
  }

  #editor {
    grid-row: 2 / 3;
  }

  #display {
    grid-row: 3 / 4;
  }

  #errors {
    grid-row: 4 / 5;
  }
}
