body {
  margin: 0;
}

#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#container > div {
  border-style: solid;
  border-color: #fe5f55;
  border-width: 1px;
}

#menu {
  display: flex;
  flex-direction: row;
  height: 50px;
  background-color: #ffeaa5;
  border-bottom: 0 !important;
}

.button {
  height: 40px;
  margin: 5px;
  display: block;
  color: #fe5f55;
}

#main {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  flex-wrap: wrap;
}

#main > * {
  flex: 1 1 250px;
}

#editor {
  width: 50%;
  height: 400px;
}

#display {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.scope {
  height: 200;
}

.spectrum {
  height: 200;
}

