<!doctype html>
<html>

<head>
  <link rel="stylesheet" href={{ "/css/livecode.css" | relative_url }}>
</head>

<body>


<div id="container">
  <div id="menu">
    <svg id="play" aria-hidden="true" data-prefix="far" data-icon="play-circle" class="button" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M371.7 238l-176-107c-15.8-8.8-35.7 2.5-35.7 21v208c0 18.4 19.8 29.8 35.7 21l176-101c16.4-9.1 16.4-32.8 0-42zM504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256z"></path></svg>
    <svg id="stop" aria-hidden="true" data-prefix="far" data-icon="stop-circle" class="button" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="currentColor" d="M504 256C504 119 393 8 256 8S8 119 8 256s111 248 248 248 248-111 248-248zm-448 0c0-110.5 89.5-200 200-200s200 89.5 200 200-89.5 200-200 200S56 366.5 56 256zm296-80v160c0 8.8-7.2 16-16 16H176c-8.8 0-16-7.2-16-16V176c0-8.8 7.2-16 16-16h160c8.8 0 16 7.2 16 16z"></path></svg>
  </div>
  <div id="main">
    <div id="editor"></div>
    <div id="display">
      <canvas id="scope"></canvas>
      <canvas id="spectrum"></canvas>
    </div>
  </div>
</div>

<script src="{{"/libraries/ace.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>
<script src="{{"/libraries/analyser.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>

<script>
let analyser;
let sound, audio;
let editor;
let processorCount = 0;

function getCode(libraryCode, userCode, processorName){
  return `data:text/javascript;utf8,
${libraryCode}
${userCode}
setup(); // this runs once

// stuff below is the standard way to start an audioProcessor
class AudioProcessor extends AudioWorkletProcessor {

  constructor(options) {
    super(options);
  }

  process(inputs, outputs, parameters) {
    let input = inputs[0][0];
    let output = outputs[0][0];
    if(!numSamples){
      numSamples = output.length;
    }

    // calls to custom functions (these run on every frame of 128 samples)
    updateTime();
    output.set(loop().clip(0.5));

    return true;
  }
}

registerProcessor('${processorName}', AudioProcessor);
  `;
}

function startWorklet(myLibraryCode, myUserCode){
  let processorName = 'audio-processor' + processorCount;
  processorCount++;

  let moduleDataUrl = getCode(myLibraryCode, myUserCode, processorName);

  if (!audio) {
    audio = new AudioContext();
  }

  // Loads module script via AudioWorklet.
  audio.audioWorklet.addModule(moduleDataUrl).then(() => {
    sound = new AudioWorkletNode(audio, processorName);
    analyser = audio.createAnalyser();
    sound.connect(audio.destination);
    sound.connect(analyser);
    draw();
  });
}


fetch('../../libraries/dsp.js').then(response => response.text())
  .then((libraryCode) => {

    fetch('loop.js').then(response => response.text())
      .then((userCode) => {

        document.querySelector('#editor').innerHTML = userCode;
        editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        editor.session.setOptions({ tabSize: 2, useSoftTabs: true });

        var editorDiv = document.getElementById("editor");     // its container
        var doc = editor.getSession().getDocument();  // a reference to the doc

        /*
        editor.on("change", function() {
          var lineHeight = editor.renderer.lineHeight;
          editorDiv.style.height = lineHeight * doc.getLength() + "px";
          editor.resize();
        });
        */

        //startWorklet(libraryCode, userCode);

      });

    document.getElementById("play").onclick = function(){
      //console.log("playing");
      var updatedCode = editor.getSession().getValue();
      if(sound) {
        sound.disconnect();
      }
      startWorklet(libraryCode, updatedCode);
    };

    document.getElementById("stop").onclick = function(){
      //console.log("stopping");
      if (sound) {
        sound.disconnect();
      }
    };

  });



</script>

</body>
</html>