<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{{page.title}}</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href={{ "/css/bootstrap.min.css" | relative_url }}>
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href={{ "/css/text.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/css/nav.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/css/syntax.css" | relative_url }}>
    <link rel="stylesheet" href={{ "/css/livecode.css" | relative_url }}>
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href={{ "/css/jquery.mCustomScrollbar.min.css" | relative_url }}>

</head>

<body>

    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3><a href="{{ "/" | relative_url }}">Synthesine</a></h3>
            </div>

            <ul class="list-unstyled components">
                <li class="active">
                  {% for cat in site.category-list %}
                    <a href="#{{cat}}Submenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ cat | capitalize}}</a>
                        <ul class="collapse list-unstyled" id="{{cat}}Submenu">
                          {% for ex  in site.examples %}
                              {% if ex.category == cat %}
                              <li><a href="{{ ex.url | relative_url }}">{{ ex.title }}</a></li>
                              {% endif %}
                          {% endfor %}
                      </ul>
                  {% endfor %}
                </li>
              </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <div id="topbar">
                <img src="{{"/assets/bars.svg" | relative_url }}" alt="expand" id="sidebarCollapse">
            </div>

            {{content}}

        </div>

    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="{{"/libraries/jquery-3.3.1.slim.min.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>

    <!-- Bootstrap JS -->
    <script src="{{"/libraries/bootstrap.min.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script src="{{"/libraries/jquery.mCustomScrollbar.concat.min.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebar").mCustomScrollbar({
                theme: "minimal"
            });

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar, #content').toggleClass('active');
                $('.collapse.in').toggleClass('in');
                $('a[aria-expanded=true]').attr('aria-expanded', 'false');
            });
        });
    </script>
</body>

</html>