---
layout: nav
---

<h3><a href="/synthesine/reference">Reference</a> > {{page.title}}</h3>

<div id="container">
  <div id="menu">
    <img src="{{"/assets/play.svg" | relative_url }}" alt="Play" id="play" class="button">
    <img src="{{"/assets/stop.svg" | relative_url }}" alt="Stop" id="stop" class="button">
    <img src="{{"/assets/wave.svg" | relative_url }}" alt="Wave Logo" id="logo" class="logo">
  </div>
    <div id="editor"></div>
    <div id="display">
      <div class="plot">
        <h5><span class="data-label">Wave</span></h5>
        <canvas id="scope"></canvas>
      </div>
      <div class="plot">
        <h5><span class="data-label">Spectrum</span></h5>
        <canvas id="spectrum"></canvas>
      </div>
      <div id="dom">
      </div>
    </div>
    <div id="errors">
      <pre id="log"></pre>
    </div>
</div>

<script src="{{"/libraries/ace.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>
<script src="https://cdn.rawgit.com/developit/781ef9620da8a30228b9f0c6e21fa7f6/raw/b228b3fadb2284957d040057e6701a49f522198f/transpiler-lite.umd.js"></script>
<script src="https://unpkg.com/audioworklet-polyfill/dist/audioworklet-polyfill.js" type="text/javascript" charset="utf-8"></script>
<script src="{{"/libraries/dsp.js" | relative_url }}" type="text/javascript" charset="utf-8"></script>

<script>
  synth.load(`{{content}}`);
</script>

{{page.blurb | markdownify}}

<hr>
<footer>
  <p>The live editor loads the <a href="https://github.com/aatishb/synthesine/blob/master/libraries/dsp.js">synthesine</a> library, which includes some <a href="https://aatishb.com/synthesine/reference">handy functions</a> to synthesize sounds in your browser in real-time. Spotted a typo, or have an idea for improving this page? Suggest an edit <a href="{{page.url | replace: 'reference', '_reference' | prepend: "https://github.com/aatishb/synthesine/edit/master"}}">here</a>.</p>
</footer>
